* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  height: 100%;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.title {
  background: rgba(0, 204, 255, 0.315);
  padding: 50px;
}

.title_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.name {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 30px;
  padding: 30px;
}

.avatar {
  border: 5px solid gray;
}

.avatar img {
  width: 100px;
  height: 100px;
}

.about {
  height: 100%;
}

.about_content {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.about_headline {
  font-weight: 700;
  padding: 20px 0px 5px 0px;
}

.about_text li {
  margin: 0px 0px 0px 15px;
  list-style: circle;
}

.footer {
  display: block;
  height: 80px;
}

.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer_rss {
  display: block;
  height: 80px;
  width: 160px;
  background: url("/rsschool-cv/img/rs_school_js.svg") 100% no-repeat;
}

.content {
  background: rgba(0, 204, 255, 0.315);
}

.button {
  display: block;
  background: #0bf580;
  border-radius: 10px;
  height: 40px;
  width: 120px;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
}
